 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Kiwanis Of Oswego is partnering up with our Oswego Police Dept. and their Explorers Club to help raise money for a local community group/charity to be determined this fall.</p>
                </div>
                <div class="col-lg-4">
                    <p>Save the date February 29, 2020! Our Pancake Breakfast is hosted at Oswego High School. Come for breakfast and stay for the Oswego Buiness Expo that is also scheduled on this date.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://oswegopancakes.com" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Purchase Tickets Here!
                    </a>
                </div>
            </div>
        </div>
    </section>
