 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The Oswego Kiwanis Chapter is partnering with the Oswego Police Department & Explorer Club Post 3525 for Our 2020 Pancake Breakfast! Proceeds benefit the Oswego Police Explorer Post, Kiwanis of Oswego, and Concerns of Police Survivors (COPS).</p>
                </div>
                <div class="col-lg-4">
                    <p>Join us on February 29, 2020 from 8AM-12PM for all the Pancakes you can eat at Oswego High School. After Breakfast stay for the Oswego Hometown Expo located in the Oswego High School Field House from 9AM-2PM - Free Admission!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.eventbrite.com/e/all-you-can-eat-pancake-breakfast-tickets-79952998571?aff=OswegoHometownExpo" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Purchase Tickets Here!
                    </a>
                </div>
            </div>
        </div>
    </section>
